{% if section.settings.ankitSectionCheckbox %}
  {% comment %} <div style="text-align: {{ section.settings.text_position }}">
    <p style="font-size: {{ section.settings.font_size }}px; padding-left: {{ section.settings.padding_left }}px; padding-top: {{ section.settings.padding_top }}px">
      {{ section.settings.ankitSectionId }}
    </p>
  </div> {% endcomment %}
  
  <div class="tw-bg-white">
    <div class="tw-mx-auto tw-max-w-7xl tw-py-24 tw-px-6 sm:tw-py-32 lg:tw-px-8">
      <div class="tw-relative tw-isolate tw-overflow-hidden tw-bg-gray-900 tw-px-6 tw-py-24 tw-text-center tw-shadow-2xl sm:tw-rounded-3xl sm:tw-px-16">
        <h2 class="tw-mx-auto tw-max-w-2xl tw-text-3xl tw-font-bold tw-tracking-tight tw-text-white sm:tw-text-4xl">Boost your productivity today.</h2>
        <p class="tw-mx-auto tw-mt-6 tw-max-w-xl tw-text-lg tw-leading-8 tw-text-gray-300">Incididunt sint fugiat pariatur cupidatat consectetur sit cillum anim id veniam aliqua proident excepteur commodo do ea.</p>
        <div class="tw-mt-10 tw-flex tw-items-center tw-justify-center tw-gap-x-6">
          <a href="#" class="tw-rounded-md tw-bg-white tw-px-3.5 tw-py-2.5 tw-text-sm tw-font-semibold tw-text-gray-900 tw-shadow-sm tw-hover:bg-gray-100 tw-focus-visible:outline tw-focus-visible:outline-2 tw-focus-visible:outline-offset-2 tw-focus-visible:outline-white">Get started</a>
          <a href="#" class="tw-text-sm tw-font-semibold tw-leading-6 tw-text-white">Learn more <span aria-hidden="true">→</span></a>
        </div>
        <svg viewBox="0 0 1024 1024" class="tw-absolute left-1/2 top-1/2 -z-10 tw-h-[64rem] tw-w-[64rem] -translate-x-1/2 [mask-image:radial-gradient(closest-side,white,transparent)]" aria-hidden="true">
          <circle cx="512" cy="512" r="512" fill="url(#827591b1-ce8c-4110-b064-7cb85a0b1217)" fill-opacity="0.7" />
          <defs>
            <radialGradient id="827591b1-ce8c-4110-b064-7cb85a0b1217">
              <stop stop-color="#7775D6" />
              <stop offset="1" stop-color="#E935C1" />
            </radialGradient>
          </defs>
        </svg>
      </div>
    </div>
  </div>
  

{% else %}
  <h5>Please enable the checkbox to type</h5>
{% endif %}

{% schema %}
{
  "name": "Ankit section",
  "settings": [
    {
      "type": "range",
      "id": "font_size",
      "min": 12,
      "max": 24,
      "step": 1,
      "label": "Font size",
      "default": 16
    },
    {
      "type": "text",
      "id": "ankitSectionId",
      "label": "Enter Text",
      "default": "default tag here"
    },
    {
      "type": "checkbox",
      "id": "ankitSectionCheckbox",
      "label": "Enable your text",
      "default": true
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Position your text",
      "options": [
        {"value": "left", "label":"Left"},
           {"value": "center", "label":"Center"},
        {"value": "right", "label":"Right"}
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 30,
      "step": 5,
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_left",
      "min": 10,
      "max": 60,
      "step": 5,
      "label": "Padding Left",
      "default": 30
    }
  ],
  "presets" : [
    {
      "name":"Ankit Text Section",
      "category":"text"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
